.eventCardContainer {
  background-color: rgb(237, 237, 237);
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
  border: rgb(168, 168, 168) 1px solid;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
  width: 235px;
  cursor: pointer;
  height: 350px;
}

.eventCardContainer:hover {
  box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2);
}

.eventCardContainer img  {
  width: inherit;
  border-radius:9px 9px 0px 0px;
  height: 55%;
  vertical-align: middle;
}