.eventInfo {
  margin: 0px 7px 7px 7px;
  display: flex;
  flex-direction: column;
}

.eventTitle {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

}

.eventTitle *{
  margin: 0px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eventProperties {
  height: 100px;
}

.eventProperties p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-break: break-all;
}

.eventDate {
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.eventDate h5{
  margin: 0px;
}

.eventStatus {
  border: 1px solid green;
  /* background-color: green; */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.eventStatus {
  /* border: 1px solid green; */
  /* background-color: red; */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

