@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.propertiesContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-left: 20vw;
  margin-right: 15vw;
  background-color: #fcf7ff;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.imagen {
  display: flex;
  height: 20vw;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 2vw;
}

.imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 15px 15px 0px 0px;
}

.properties {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.sub-btn-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  flex: 1;
}

.header h2,
h3 {
  margin: 0px;
}

.body {
  display: flex;
}

.subsContainer {
  display: flex;
}

.centerCard{
  display: grid;
  grid-template-columns: 150px 150px;
}

.subsCard{
  padding: 0px 5px 0px 5px;
}

.subs {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  padding-left: 5px;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.subs p {
  font-weight: 900;
}

.subsList {
  font-family: 'Source Code Pro', monospace;
  white-space: nowrap;
  overflow: hidden;
}

.underline {
  border-bottom: 1px solid rgba(189, 189, 189, 0.556);
  margin: 10px 0px 10px 0px;
  width: 100%;
  display: block;
}

.desc {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 0px 20px 0px 20px;
}

.host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 5px;

  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.host p {
  text-align: center;
}

.logo {
  position: relative;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: rgb(131, 131, 131);
  border-radius: 50%;
}

.buttonContainer {
  position: fixed;
  width: 100px;
  height: 100px;

  bottom: 8vw;
  right: 1.5vw;
}

.editButton,
.deleteButton {
  box-sizing: border-box;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.editButton {
  border: 2px dashed #453fff88;
  margin-bottom: 20px;
}

.deleteButton {
  border: 2px dashed #ff3f3f88;
}

.editIcon {
  font-size: 5rem;
  color: #453fff88;
}

.deleteIcon {
  font-size: 5rem;
  color: #ff3f3f88;
}
