.homeContainer {
  display: flex;
  padding: 25px 10px 10px 10px;
  background-color: #fcf7ff;
  overflow: auto;
  margin-left: 9vw;
}

.center {
  display: grid;
  margin: 3vw 0vw 0vw 10vw;
  grid-template-columns: 250px 250px 250px 250px;
  width: 100vw;
  gap: 20px;
  height: 350px;
}
