.navBarMenuContainer {
  display: flex;
  width: 7vw;
  height: 100%;
  left: 0px;
  top: 0px;
  margin-right: 20px;

  background: #c95b49;
  box-shadow: 8px 0px 12px rgba(0, 0, 0, 0.4);
  border-radius: 0px 12px 12px 0px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title p {
  font-size: 1.5rem;
  color: #fff;

  text-align: center;
  text-shadow: 3px 2px 0px rgba(32, 54, 67, 0.3);
  letter-spacing: 0.25rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.link {
  display: flex;
  color: #203643;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
  margin-right: 6px;
  font-size: 1.2rem;
  color: #203643;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signOutButton {
  display: flex;
  margin-bottom: 15px;
  background-color: #96463a;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.logOutIcon {
  margin-right: 6px;
  font-size: 1.5rem;
  color: #fff;
}
